{% include ('Admin/_admin_head.html.twig') %}


<body class="bodyAdmin">

    <header>{% include ('Admin/_admin_header.html.twig') %}</header>


    <main>{% block adminMain %}{% endblock %}</main>


    <footer>{% include ('Admin/_admin_footer.html.twig') %}</footer>


</body>

</html>
