<ul class="footer">
    <li>Contact</li>
    <li>
        <img src="{{ asset('assets/img/logoDoulaHarmonie3.png') }}" alt="logo DoulaHarmonie">
    </li>
    <li>
        <a href="{{ path('disclaimer') }}" class="linkDisclaimer">
            Mentions légales
        </a>
    </li>
</ul>