<!doctype html>

<html lang="fr_FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="Julien Gombert" />
    <meta name="description" content="Ce site présente l'application web d'Amélie Cassaigne épouse Gombert. Amélie est doula et présente son métier et son apport plus que précieux aux futurs parents et parents dans ce qui se révèle un bouleversement dans la vie de chacun s'y est essayé. Amélie vit à Talence près de Borderaux et intervient principalement sur l'ensemble du département de la Gironde, France." />
    <meta name="keywords" content="doula, bordeaux, soutien, accompagnement, natalité, périnatalité, postpartum, allaitement, parentalité, maternité, gémélité, deuil d'un enfant, dépression, hormones et naissance" />
    <meta name="robots" content="index, follow" />

    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

    <title>{% block title %}Doula Harmonie{% endblock %}</title>

</head>
