<div class="headerMiddle">
    <h1 class="headerMiddleText">

    </h1>
</div>

<div class="headerBottom">
    <h1 class="headerBottomTitle" id="quote">
        Une doula est une femme qui accompagne les parents dans la continuité, dans une relation de confiance, de complicité et d'intimité.
    </h1>
    <p class="headerBottomText">
        Parce que vous avez des interrogations sur l'expérience que vous allez vivre, je suis doula post-natale et serais ravie de vous rencontrer pour échanger.
    </p>
</div>