<section class="sectionAboutDoulaAndMe" id="sectionAboutDoula">

    <div class="titlesection">
        A propos
    </div>


    <div class="oneArticle info2">
        <div class="oneArticleText">
            <h1 class="articlesTitle">Qu’est-ce qu’une doula ?</h1>
            <h2 class="articlesSubTitle">ou en quoi une doula peut vous aider</h2>
            <p class="articlesText">Une doula est une femme aux côtés de la femme enceinte et de ceux qui l'entourent, elle est à l'écoute de ses désirs, ses besoins et la suit dans ses choix. Elle propose un accompagnement dans la continuité, une relation de confiance, de complicité et d'intimité de femme à femme.<br /><br />Pour l’association Doulas de France, la doula a pour vocation d’accompagner et de soutenir la future mère et son entourage pendant la grossesse, l’accouchement et la période postnatale, grâce à son expérience et à sa formation, et cela uniquement en complément du suivi médical choisi par les parents (hôpital, clinique, sage-femme libérale…). Elle accompagne sans discrimination liée aux origines, à la religion ou à la préférence sexuelle des parents. Une doula n’a pas de fonction médicale, elle n’est pas thérapeute. Elle soutient le travail des sages-femmes.<br /><br />Le mot “doula”, du grec ancien, est utilisé aujourd’hui dans le domaine de la périnatalité, pour nommer une femme qui a pour vocation d’aider une autre femme et son entourage pendant la grossesse, l’accouchement et la période postnatale, grâce à son expérience et à sa formation. Elle incarne la figure féminine qui se tenait autrefois auprès de la femme qui met au monde son bébé, aux côtés de la sage-femme.<br /><br />Aux États-Unis le mot “doula” désigne une femme qui accompagne la mère pendant la périnatalité. En 2011, la définition du mot “doula” apparaît dans le dictionnaire Hachette : nf  Femme qui accompagne une femme enceinte pendant sa grossesse et après son accouchement.
    Une doula accompagne, soutient, entoure, les femmes seules ou les couples, et leurs proches. Elle n'exerce pas le métier de sage-femme. Elle s'engage à la confidentialité et se soumet au secret professionnel.
            </p>
        </div>
        <div class="oneArticleImage">
            <img src="{{ asset('assets/img/womanUp.png') }}" class="img-fluid" alt="Illustration d'une femme debout avec un enfant">
        </div>
    </div>

    <div class="oneArticle info">
        <div class="oneArticleText">
            <h1 class="articlesTitle">Une aide après l’accouchement</h1>
            <h2 class="articlesSubTitle">pour l’allaitement et bien plus encore</h2>
            <p class="articlesText">
                Vie quotidienne<br />
                Le rôle de la doula peut être important dans la période postnatale, soutien à la femme dans ces moments sensibles, les plus beaux mais aussi parfois parmi les plus difficiles de sa vie, à une époque où la famille est nucléaire, où elle ne bénéficie pas de l’aide de la vie communautaire. La doula peut aider à l’organisation du quotidien, parfois compliquée au début (gestion des aînés, portage en écharpe, trucs et astuces…).<br /><br />
                Allaitement<br />
                La doula a souvent elle-même allaité, ce qui lui permet d’être un soutien efficace pour la mère qui allaite. Plusieurs études vont dans ce sens (Doula, accouchement et allaitement paru dans Les Dossiers de l’Allaitement).<br /><br />
                Debriefing<br />
                La naissance d’un enfant est un des évènements les plus marquants de la vie. Pour certaines personnes, hommes et femmes, il peut s’agir d’une épreuve à dimension initiatique. Un besoin fondamental d’en parler à nouveau peut advenir et son corollaire, la nécessité d’être écouté·e dans un esprit bienveillant devient indispensable. Une doula, témoin direct de l’évènement, peut permettre cela, participant également à son niveau à la pérennité de la mémoire.
            </p>
        </div>
        <div class="oneArticleImage">
            <img src="{{ asset('assets/img/womanSit.png') }}" class="img-fluid" alt="Illustration d'une femme assise avec un enfant">
        </div>
    </div>

    <div class="oneArticle info2">
        <div class="oneArticleText">
            <h1 class="articlesTitle">Un peu d’histoire</h1>
            <h2 class="articlesSubTitle">ou les doulas de France.</h2>
            <p class="articlesText">En France, jusqu’aux années 50, on trouve dans les campagnes “la femme-qui-aide” et “la laveuse”. Comme l’évoque Yvonne Verdier dans L’homme, Année 1976, Volume 16, Numéro 2. p. 103-128 – Persée.<br /><br />
                C’est une femme locale, elle-même mère, à qui ont fait appel pour aider la femme et sa famille pendant l’accouchement, aux côtés de la sage-femme. Elle soutient la femme et maintient la chambre et le lit propre. C’est elle qui donne le premier bain au bébé et qui soutient la mère dans son allaitement. On fait aussi appel à elle pour laver et préparer les morts. Elle accompagne ainsi “l’entrée et la sortie au monde”.<br /><br />
                Le terme de doula est utilisé la première fois par Dana Raphaël aux États-Unis en 1973 dans son livre The Tender Gift. Il désigne des mères expérimentées qui soutiennent d’autres mères avec leurs bébés pendant la période postnatale aux Philippines.<br /><br />
                Le mot est ensuite repris par Jane Arnold en 1981 aux États-Unis, à New York City où elle avait créé un service de soutien postnatal pour les mères.<br /><br />
                Joan Singer et Valérie Spain utilisent le mot doula à Boston pour proposer le même genre de services pendant la période postnatale.<br /><br />
                Marshall Klaus et John Kennell, chercheurs dans le domaine de la médecine, qui ont effectué les premières et nombreuses études scientifiques randomisées sur les effets de la présence d’une doula lors de l’accouchement, adoptent le terme de doula pour désigner les femmes qui accompagnent la femme pendant le travail, pendant la grossesse et la période postnatale.<br /><br />
                L’activité de la doula s’est ensuite développée pendant la grossesse et durant l’accouchement.<br /><br />
                En 1992, la première association de doulas américaines, DONA International est créée par les Dr Marshall Klaus et John Kennell, Phyllis Klaus CSW, MFCC, Penny Simkin, PT et Annie Kennedy.<br /><br />
                “Doula” est à présent un terme utilisé et reconnu dans le domaine public à travers le monde entier.<br /><br />
                C’est en mai 2003 que s’est réuni pour la première fois en France un petit groupe de femmes pour discuter de l’accompagnement non-médical à la naissance. Cette rencontre s’est tenue à l’initiative de Viviane Lemaigre Dubreuil. Parmi les présentes, venant de nombreux horizons différents : des doulas formées en Grande-Bretagne, aux États-Unis, des sages-femmes, une sophrologue, une haptonome, des mamans !<br /><br />
                Plusieurs d’entre elles décident de continuer l’aventure et de faire avancer l’accompagnement non-médical par les doulas, les accompagnantes à la naissance.<br /><br />
                Certaines créent leur propre association, comme ALNA avec les accompagnantes à la naissance, et d’autres continuent ensemble, d’abord au sein du collectif Doulas de France de 2003 à 2005, puis en fondant l’association Doulas de France en février 2006, avec huit cofondatrices : Sabine Benamara, Gaëlle Buteau, Valérie Dupin, Pascale Gendreau, Charlotte Marchandise, Océane Marot, Geneviève Prono-Treille et Veronika Sbay. Depuis, l’équipe s’est modifiée, a continué à s’agrandir et à s’enrichir.<br /><br />
                Depuis 2004, le mot doula commence à se faire connaître, principalement grâce aux articles dans la presse et aux échanges sur internet. C’est en mars 2004 qu’est publié le premier article dans Famili.<br /><br />
                En 2011, la définition du mot “doula” apparaît dans le dictionnaire Hachette.<br /><br />
                L’association Doulas de France propose tous les ans depuis 2004 les “Journées des Doulas” : une occasion pour les doulas de se retrouver mais aussi pour de faire connaître du public et des autres professionnels de la périnatalité. Y sont proposés de nombreux ateliers et conférences animés à la fois par des membres de l’association et par des intervenants de renom du monde de la naissance.
            </p>
        </div>
        <div class="oneArticleImage">
            <img src="{{ asset('assets/img/womanBack.png') }}" class="img-fluid" alt="Illustration d'une femme de dos avec un enfant">
        </div>
    </div>


</section>