    {% include 'PartialFiles/_head.html.twig' %}

    <body>

        <header>{% include 'PartialFiles/_headerTop.html.twig' %}</header>

        <main>
            <article class="disclaimer">


                <h1>Mentions légales et politique de confidentialité</h1>

                <h2>Informations légales</h2>

                <p>Ce site est édité par Amélie CASSAIGNE épouse GOMBERT domiciliée au 35 rue Pougnet, 33400 TALENCE.</p>

                <p>Propriétaire du site : Amélie</p>

                <p>Responsable de la publication : Amélie</p>

                <p>Développement : Julien GOMBERT, son époux</p>

                <p>Hébergement : en cours</p>

                <p>Photographies et illustrations : Julien GOMBERT sauf mention explicite</p>

                <h2>Propriété intellectuelle</h2>
                <p>Amélie est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.<br />
                La copie partielle des textes de ce site est permise dès lors que les sources et l'adresse du site sont indiquées.<br />
                Les images, le graphisme et les textes sont protégés par la législation en vigueur sur le droit d'auteur et le code de la propriété intellectuelle.<br />
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable d'Amélie.<br />
                Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br />
                Les marques citées sur ce site sont déposées par les sociétés qui en sont propriétaires.</p><br /><br />

                <h2>Responsabilité</h2>
                <p>Tout sera fait pour que les informations mises à disposition sur notre site soient pertinentes, correctes et à jour. Cependant, ces informations n’ont qu’une valeur indicative et ne peuvent donc engager la responsabilité d'Amélie.<br />
                Utilisez le formulaire de contact pour toute remarque sur le fonctionnement du site, afin de procéder au plus vite aux modifications nécessaires.<br />
                Notre site dispose de nombreux hyperliens vers d’autres sites. L’utilisateur peut donc être amené au cours de sa navigation sur des sites extérieurs qui ne dépendent donc aucunement d'Amélie.
                </p><br /><br />

                <h2>Politique de confidentialité</h2>
                <p>Les utilisateurs disposent, d'un droit d'accès, de modification, de rectification et de suppression des données qui les concernent. Ils peuvent à tout moment s'opposer gratuitement et sans motif à la diffusion des données qu'ils ont fournies. Pour exercer ce droit, envoyez un message via le formulaire contact.</p><br />

                <h2>Protection des données personnelles</h2>
                <p>Amélie s’engage à ce que la collecte et le traitement de vos données, effectués à partir du présent site, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.<br />
                Aucune information personnelle n’est collectée à votre insu, aucune information personnelle n’est cédée à des tiers. Les informations nominatives recueillies par le biais du formulaire de contact sont destinées à Amélie uniquement.<br />
                Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par Amélie, vous pouvez envoyer un message via le formulaire contact.<br />
                Amélie s'engage à y répondre dans les meilleurs délais et au plus tard dans un délai d'un mois à compter de la réception de la demande.<br />
                Si les internautes considèrent que le traitement de leurs données personnelles constitue une violation de la législation en vigueur, les internautes ont la possibilité d’introduire une réclamation auprès de la CNIL.</p><br /><br />

                <h2>Responsable de traitement</h2>
                <p>Amélie traite les données personnelles des internautes en qualité de responsable de traitement.</p><br /><br />

                <h2>Données personnelles traitées et finalités de traitement</h2>
                <p>Ce site recueille  des données personnelles d’internautes ayant pris contact avec sa propriétaire via le formulaire de contact en ligne. Ces données sont nécessaires afin de répondre aux demandes des internautes. Dans le cadre de la fourniture de ses services, Amélie traite uniquement les données personnelles suivantes strictement nécessaires à leur demande de prise de contact.</p><br /><br />

                <h2>Durée de conservation des données</h2>
                <p>Amélie s'engage à conserver ces données personnelles, sauf obligation légale ou réglementaire contraire, pour une durée maximale de trois ans à compter du dernier contact avec l'internaute.<br />
                À l'issue de cette durée ou en cas d'exercice de ses droits par les internautes, l'association Doulas de France s'engage à détruire toute copie des données personnelles des internautes qu’il détiendrait.</p><br /><br />

                <h2>Sécurité des données personnelles</h2>
                <p>Amélie s'engage, au titre de son obligation de moyens, à prendre toutes les précautions utiles et met en œuvre des mesures techniques et organisationnelles appropriées en la matière pour garantir un niveau de sécurité adapté et pour protéger les données personnelles des internautes contre les altérations, destructions et accès non autorisés.</p><br /><br />

                <h2>Confidentialité des données personnelles</h2>
                <p>Amélie garantit la confidentialité des données personnelles traitées et veille à ce que les personnes autorisées à traiter lesdites données personnelles s'engagent également à respecter cette obligation de confidentialité.</p><br /><br />

                <h2>Cookies et statistiques</h2>
                <p>Le site utilise des cookies afin d'améliorer votre navigation et d'effectuer le suivi de la fréquentation du site. Vous avez la possibilité de désactiver les cookies en vous rendant dans les options de votre navigateur.</p><br /><br />




            </article>
        </main>

        <footer class="footer">{% include 'PartialFiles/_footer.html.twig' %}</footer>

        <script type="text/javascript" src="{{ asset ('assets/js/custom.js') }}"></script>

    </body>

</html>
